@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* dark-blue: #10173c
yellow: #f5bf5d
pink: #ed7f99
aqua: #49bbc2 */

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #10173c;
  background-image: linear-gradient(#10173c,#49bbc2,#fff,#f5bf5d,#ed7f99);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none;
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000;
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.social-icon {
  width: 42px;
  padding: .25rem;
}

h1, h2, h3 {
  margin: 0;
}

header {
  display: flex;
}

.logo {
  width: 130px;
  position: absolute;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 1rem;
}

.banner {
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.banner-content {
  color: #fff;
  padding: 1.5rem;
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
}

.banner-content h2 {
  font-size: 2.5rem;
  text-align: left;
}

.banner-content p {
  text-align: left;
}

.banner-content a ,
.product a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: .5em 1em;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: .75rem;
  transition: all .3s ease-in-out;
}

.banner-content a:hover ,
.product a:hover {
  color: #10173c;
  background-color: #f5bf5d;
  border-color: #f5bf5d;
}

.about {
  margin: 1rem;
}

.about h1 {
  margin-top: 1rem;
  font-size: 3rem;
}

.about h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
}

.contact-info ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-info li {
  list-style: none;
  padding-top: .75rem;
}

.contact-info a {
  color: #10173c;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-info li span {
  display: inline-block;
  padding-left: .5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.logo-footer {
  width: 152px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  text-align: center;
  padding: .5rem;
}

.footer-links a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer-links a:hover {
  color: #10173c;
}

.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* products page*/

.intro {
 position: relative;
 margin: 1rem;
 height: 65vh;
 overflow: hidden;
}

.intro:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.intro-content {
  padding: .5rem;
  position: absolute;
  top: 35%;
  left: 0;
}

.intro-content h1 {
  font-size: 3rem;
  text-align: left;
}

.product {
  margin: 1rem;
}

.product h2 {
  font-size: 2.5rem;
  margin-top: 6rem;
}

.product a {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #10173c;
  border-color: #10173c;
  margin: .5rem 0 2rem;
}

.product a:hover {
  background-color: #10173c;
  border-color: #10173c;
  color: #fff;
}

/* portfolio page */

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.port-piece img {
  margin: 1.5rem 0 3rem;
}

.port-piece h3{
  font-size: 1.5rem;
  font-weight: 500;
}

.port-piece p {
  margin-top: 0;
}

@media only screen and (min-width: 25em) {

  .logo {
    width: 152px;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }

  .banner {
    height: 50vh;
  }

  .banner-content {
    padding: 3rem;
    text-align: left;
  }

  .banner-content a ,
  .product a {
    text-align: center;
    margin: 1.25rem 1.25rem 1.25rem 0;
    width: 33.333%;
  }

  .about {
    margin: 6rem 3rem 1.5rem;
  }

  .artist-img {
    margin-bottom: 2rem;
  }

  .contact-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .contact-info li {
    display: block;
    width: 50%;
    overflow: visible;
  }

  .logo-footer {
    width: 165px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    margin-bottom: 1.4rem;
  }



}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5rem;
  }

}
