@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #10173c;
  background-image: linear-gradient(#10173c, #49bbc2, #fff, #f5bf5d, #ed7f99);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none;
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000;
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

nav:hover,
nav:focus {
  outline: 4px solid #fff;
  outline-offset: 4px;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.social-icon {
  width: 42px;
  padding: .25rem;
  transition: all .3s ease-in-out;
}

h1, h2, h3 {
  margin: 0;
}

header {
  display: flex;
}

.logo {
  width: 130px;
  position: absolute;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 1rem;
}

.banner {
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.banner-content {
  color: #fff;
  padding: 1.5rem;
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
}

.banner-content h1 {
  font-size: 2.5rem;
}

.banner-content a,
.product a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: .5em 1em;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: .75rem;
  transition: all .3s ease-in-out;
}

.banner-content a:hover,
.product a:hover {
  color: #10173c;
  background-color: #f5bf5d;
  border-color: #f5bf5d;
}

.about {
  margin: 1rem;
}

.about h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

.about h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
}

.contact-info p {
  text-align: center;
}

.contact-info ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info li {
  list-style: none;
  padding-top: .75rem;
}

.contact-info a {
  color: #10173c;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.contact-info a:hover {
  color: #fff;
}

.contact-info li span {
  display: inline-block;
  padding-left: .5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.logo-footer {
  width: 152px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  text-align: center;
  padding: .5rem;
}

.footer-links {
  margin-top: 2rem;
}

.footer-links a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer-links a:hover {
  color: #10173c;
}

.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  position: relative;
  margin: 1rem;
  height: 45vh;
}

.intro::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.intro-content {
  padding: .5rem;
  position: absolute;
  top: 25%;
  left: 0;
}

.intro-content h1 {
  font-size: 3rem;
}

.product {
  margin: 1rem;
}

.product h2 {
  font-size: 2rem;
  margin-top: 4rem;
}

.product a {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #10173c;
  border-color: #10173c;
  margin: .5rem 0 2rem;
}

.product a:hover {
  background-color: #10173c;
  border-color: #10173c;
  color: #fff;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.port-piece img {
  margin: 1.5rem auto 3rem;
}

.port-piece h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.port-piece p {
  margin-top: 0;
}

@media only screen and (min-width: 25em) {

  .banner-content a {
    margin: 2rem .5rem 0;
  }

  .banner-content {
    padding: 2rem;
  }

  .about {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  footer {
    margin-bottom: 1rem;
  }

  .product {
    margin: 2rem;
  }

  .product a {
    margin: 0 auto 2rem;
    max-width: 20em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    margin-bottom: 1.4rem;
  }

  .logo {
    width: 152px;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }

  .banner {
    height: 65vh;
  }

  .banner-content {
    padding: 4rem;
    top: 25%;
    left: 25%;
    transform: translate(-18%, -15%);
  }

  .about {
    margin: 1.5rem 3rem;
  }

  .meet-the-artist {
    align-self: center;
  }

  .artist-img {
    margin-bottom: 2rem;
    align-self: center;
  }

  .banner-content a {
    text-align: left;
    margin-top: 1rem;
  }

  .contact-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .contact-info li {
    display: block;
    place-self: center;
  }

  .logo-footer {
    width: 165px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .product {
    margin: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-content {
    top: 10%;
    left: 10%;
    transform: translate(-6%, 6%);
  }

  .product-info {
    max-width: 30em;
    display: inline-block;
    width: 50%;
  }

  .product-info h2 {
    margin-top: 0;
  }

  .img-sizer {
    width: 50%;
    display: inline-block;
    padding-left: 2rem;
  }

  .product a {
    margin: 2rem 0;
    max-width: 15em;
  }

  .port-section {
    display: block;
    margin-bottom: 0;
  }

  .port-section h2 {
    margin-top: 0;
  }

  .piece-info {
    max-width: 35em;
  }

  .piece-img {
    width: 85%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .social-icon {
    width: 55px;
    padding: .5rem;
  }

  .logo {
    width: 160px;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  .banner-content {
    padding: 4rem 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about {
    display: grid;
    grid-template-areas:
      "artist-img   meet-artist"
      "contact-info contact-info";
    gap: 1.5rem;
    margin: 1rem 5rem 5rem;
  }

  .meet-the-artist {
    grid-area: meet-artist;
  }

  .meet-the-artist h1,
  .meet-the-artist p {
    margin: 0;
  }

  .artist-img {
    grid-area: artist-img;
    margin: 0;
  }

  .contact-info {
    grid-area: contact-info;
    margin-top: 2rem;
  }

  .contact-info h3 {
    margin: 0;
  }

  .contact-info p,
  .contact-info ul {
    margin-bottom: 0;
  }

  .contact-info p {
    max-width: 36rem;
    margin: 0 auto;
  }

  .logo-footer {
    grid-area: logo;
    width: 185px;
  }

  footer ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .intro-content {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product {
    margin: 4rem 5rem;
  }

  .img-sizer {
    padding-left: 3rem;
  }

  .illust {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  .illust h2 {
    grid-column: 1 / 3;
  }

  .illust .port-piece {
    display: contents;
  }

  .camp-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .camp-img img {
    height: 100%;
    width: 50%;
    padding: 1rem;
  }

  .port-piece img {
    margin: 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .social-icon {
    width: 65px;
    padding: .5rem;
  }

  .logo {
    width: 170px;
    margin-left: 7rem;
    margin-top: 2.5rem;
  }

  .about {
    grid-row-gap: 4rem;
    margin: 2rem 7rem 7rem;
  }

  .meet-the-artist {
    place-self: center;
  }

  .artist-img {
    place-self: center;
  }

  .contact-info {
    align-self: center;
    margin-top: 0;
  }

  .contact-info ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    place-items: center;
  }

  .contact-info li {
    padding: 0;
  }

  .product {
    margin: 4rem 7rem;
  }

  .product-info {
    width: 60%;
  }

  .img-sizer {
    width: 40%;
  }

  .illust .piece-img {
    width: 65%;
  }

  .illust {
    grid-template-rows: 1% 1fr 1fr;
  }

}
