.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 4.25rem;
  height: 4.25rem;
  padding: 1rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
