/* dark-blue: #10173c
yellow: #f5bf5d
pink: #ed7f99
aqua: #49bbc2 */


.menu-wrap ul {
  padding: 0;
}

.menu-wrap li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.menu-wrap a:hover {
  color: #ed7f99;
}

.nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 38em) {

  .toggler {
    margin: 1rem 3rem 1.5rem 1rem;
  }

  .hamburger {
    margin: 1rem 3rem 1.5rem 1rem;
  }

}

@media only screen and (min-width: 60em) {

  .toggler {
    margin: 1.5rem 5rem 1.5rem 1rem;
  }

  .hamburger {
    margin: 1.5rem 5rem 1.5rem 1rem;
  }

}

@media only screen and (min-width: 90em) {

  .toggler {
    margin: 1.5rem 7rem 1.5rem 1rem;
  }

  .hamburger {
    margin: 1.5rem 7rem 1.5rem 1rem;
  }

}
